---
layout: default
---
<section class="section">
  <div class="prose">
    <div class="badge">INSIGHT</div>
    <h1>{{ page.title }}</h1>
    <p class="small">{{ page.date | date: "%b %d, %Y" }}</p>
    <div class="hr"></div>
    {{ content }}
  </div>
</section>
